:root {
	background-color: var(--backGround-color);
	color: var(--color);
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
	:root {
		--backGround-color: rgb(24, 30, 44);
		--color: rgb(187, 206, 203);
		--input-back: #142856;
		--placeholder: #2b5bab;
		background-image: url("icons/star.svg");
		background-size: 60px;
		background-repeat: repeat-y;
		background-position: left;
	}
	a {
		color: rgb(4, 223, 223);
	}
	.down {
		filter: contrast(1%);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--backGround-color: rgb(187, 206, 203);
		--color: rgb(24, 30, 44);
		--input-back: #8ca4da;
		--placeholder: #3b5074;
	}
	a {
		color: rgb(0, 42, 155);
	}
}

input,
select,
textarea {
	background-color: var(--input-back);
	color: var(--color);
	border: unset;
	outline: 1px solid #2929a2;
	border-radius: 5px;
	font-size: 1rem;
}

input {
	padding-left: 1rem;
}
select, textarea {
	padding: 3px;
}

textarea {
	max-width: 400px;
	min-width: 250px;
	max-height: 300px;
	min-height: 50px;
}

input::placeholder {
	color: var(--placeholder);
}

input:hover {
	filter: brightness(110%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: var(--color);
	transition: background-color 5000s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px var(--input-back);
}

button {
	background-color: color-mix(in srgb, var(--backGround-color) 90%, rgb(67, 162, 218) 20%);
	color: var(--color);
	border: unset;
	padding: 5px;
	font-size: 1rem;
	border-radius: 5px;
	outline: 1px solid #683dd6;
}

button:hover {
	filter: brightness(70%);
}
